

/* Ahora si, aplicar estilos */

html {
  font-family: 'Anek Latin', sans-serif;
  font-size: 20px;
}

header {
  color: black;
  min-width: 100%;
}


.navbar-inverse{
    background-color: #7c18e1;
}

.navbar-brand{
    /*Nombre de la empresa*/
    font-weight: bold;
}

.container-fluid{
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-nav{
    position: relative;
}

#QuienesSomos{
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),
        url("FondoGenerico1.jpg");
    color: white;
    max-width: 100%;
    position: relative;
    min-height: 70vh;
    /* opacity: 0.9; */
    position: relative;
    
}

.TxtColumna{
    margin-top: 10%;
    font-size: 3vh;
    position: relative;
}

.titulo{
    font-size: 4vh;
}

.txt{
max-width: 75%;
position: relative;
left: 15%;
padding-top: 2%;
padding-bottom: 2%;
}

.EnvioGratis{
    width: 100%;
    max-height: 10%;
}

#EnvioGratis h5{
    display: inline-block;
    font-weight: bold;
    font-size: 2vh;
    position: relative;
}

/* .container{
    position: relative;
    text-align: center;
    margin-bottom: 1%;
    width: 100%;
} */

#imgAuto{
    max-width: 70px;
    width: 70px;
    min-width: 70px;
}

span{
    color: red;
}

footer{
    padding-top: 2%;
    background-color: rgb(22, 22, 22);
    color: white;
    height: 20vh;
    font-size: 1.5vh;
    line-height: 2vh;
    padding-left: 1%;
}

.container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    min-width: 33%;
    
}

#Producto{
    /* background-color: #7c18e1; */
    /* height: 75vh; */
    max-width: 100%;
    min-width: 30%;
    float: left;
    /* margin-bottom: 150px; */
    /* padding-left: 10px; */
    /* width: auto; */
    margin-top: 2%;
    margin-left: 2.5%;
    /* margin-left: 5vh; */
}

.image{
    max-width: 100%;
    width: 400px;
}

.Descripcion{
    width: 50vh;
    font-weight: bold;
    max-width: 100%;
}

.precio{
    margin-top: 4vh;
    text-align: center;
}

.btn-primary{
    /* position: absolute; */
    
    /* left: 25%;
    top: 50%;
    left: 15vh;
    top: 3vh; */
}

#boton{
    /* position: relative;
    margin-top: 4vh;
    padding-top: 2vh;
    padding-left: 19vh;
    bottom: 40px; */
    position: absolute;
    padding-left: 19vh;
}

.boton{
    position: absolute;
    padding-left: 19vh;
}